@import "../../../styles/variables/default.scss";
@import "../../../styles/mixins/index.scss";

.at-fab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 60px;
  height: 60px;
  color: $color-white;
  font-size: $font-size-base;
  line-height: $line-height-zh;
  text-align: center;
  border-radius: 50%;
  background: $at-fab-bg-color;
  box-shadow: $at-fab-box-shadow;
  box-sizing: border-box;

  &:active {
    background: $at-fab-bg-color-active;
    box-shadow: $at-fab-box-shadow-active;
  }

  /* elements */
  &__icon,
  .at-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  /* modifiers */
  &--small {
    width: 40px;
    height: 40px;
  }
}
